.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #0e9ab0;
	-webkit-box-shadow: 0px 10px 14px -7px #0e9ab0;
	box-shadow: 0px 10px 14px -7px #0e9ab0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #15a5d9), color-stop(1, #0ea1b8));
	background:-moz-linear-gradient(top, #15a5d9 5%, #0ea1b8 100%);
	background:-webkit-linear-gradient(top, #15a5d9 5%, #0ea1b8 100%);
	background:-o-linear-gradient(top, #15a5d9 5%, #0ea1b8 100%);
	background:-ms-linear-gradient(top, #15a5d9 5%, #0ea1b8 100%);
	background:linear-gradient(to bottom, #15a5d9 5%, #0ea1b8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15a5d9', endColorstr='#0ea1b8',GradientType=0);
	background-color:#15a5d9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0697c7;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0ea1b8), color-stop(1, #15a5d9));
	background:-moz-linear-gradient(top, #0ea1b8 5%, #15a5d9 100%);
	background:-webkit-linear-gradient(top, #0ea1b8 5%, #15a5d9 100%);
	background:-o-linear-gradient(top, #0ea1b8 5%, #15a5d9 100%);
	background:-ms-linear-gradient(top, #0ea1b8 5%, #15a5d9 100%);
	background:linear-gradient(to bottom, #0ea1b8 5%, #15a5d9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea1b8', endColorstr='#15a5d9',GradientType=0);
	background-color:#0ea1b8;
}
.myButton:active {
	position:relative;
	top:1px;
}
